custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/.vundles.local.bak
vim/bundle
vim/sessions
.netrwhist
bin/subl
tags

# We do want to check these in on our fork
# vim/after/.vimrc.after
# vim/.vundles.local
